<div class="row mb-2">
  <div class="col-md-6 col-6">
    <h5>Menüler</h5>
  </div>
  <div class="col-md-6 col-6">
    <button class="float-end btn btn-success btn-sm" (click)="addMenu()">
      <i class="dx-icon-plus"></i>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <dx-data-grid [columnAutoWidth]="false" [dataSource]="dataSource" [remoteOperations]="true"
      [rowAlternationEnabled]="true" [showBorders]="true" [showRowLines]="true" [showRowLines]="true"
      [allowColumnResizing]="true">
      <dxo-paging [pageSize]="5"></dxo-paging>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-scrolling columnRenderingMode="virtual" showScrollbar="always"></dxo-scrolling>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxi-column [width]="60" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate"
        caption=""></dxi-column>
      <dxi-column dataField="id" [visible]="false" sortOrder="desc"></dxi-column>
      <dxi-column dataField="label" [minWidth]="200" caption="Adı"></dxi-column>
      <dxi-column dataField="isActive" [width]="200" caption="Aktif"></dxi-column>
      <dxi-column dataField="isDeletable" [width]="200" caption="Silinebilir"></dxi-column>
      <div *dxTemplate="let data of 'cellTemplate'">
        <dx-drop-down-button (onItemClick)="onItemClick($event, data)" stylingMode="text" [items]="settings"
          icon="preferences" displayExpr="text" keyExpr="value"
          [dropDownOptions]="{ width: '150px' }"></dx-drop-down-button>
      </div>
    </dx-data-grid>
  </div>
</div>

<dx-popup [(visible)]="isVisibleMenu" [(title)]="titleMenu" [(width)]="screenWidth" height="auto">
  <dx-scroll-view>
    <form (submit)="save($event)">
      <div class="mb-3">
        <label class="form-label">Adı</label>
        <dx-text-box [(value)]="menu.label">
          <dx-validator>
            <dxi-validation-rule type="required" message="Adı gereklidir."></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
      <div class="mb-3">
        <label class="form-label">Aktif</label>
        <dx-switch [(value)]="menu.isActive" switchedOnText="Aktif" switchedOffText="Pasif" width="60"></dx-switch>
      </div>
      <dx-button class="float-end ms-2" [useSubmitBehavior]="true" text="Kaydet" type="default"></dx-button>
      <dx-button class="float-end" (click)="isVisibleMenu = false" text="Kapat"></dx-button>
    </form>

  </dx-scroll-view>
</dx-popup>

<dx-popup [visible]="isVisibleMenuItems" [(title)]="titleMenuItems" [(width)]="screenWidth" height="auto">
  <div class="mb-3">
    <dx-tree-view [dataSource]="items" keyExpr="path" selectionMode="single" width="100%" [selectNodesRecursive]="true">
      <div class="pb-1" *dxTemplate="let item of 'item'">
        <div class="text-dark">
          <i class="dx-icon-edit"></i>
          {{ item.name }}
        </div>
      </div>
    </dx-tree-view>
  </div>
  <dx-button class="float-end" (click)="isVisibleMenuItems = false" text="Kapat"></dx-button>
</dx-popup>