<div class="row my-4">
  <div class="col-md-9">
    <div class="card shadow">
      <div class="card-header bg-white py-3">
        <h4>{{ blogCategory?.name }}</h4>
      </div>
      <div class="card-body">
        <div class="row p-2">
          <div class="col-12 col-md-6" *ngFor="let blog of blogs">
            <div class="card mt-2 mb-2 w-100">
              <img class="card-img-top" src="{{ blog?.imageUrl }}" />
              <div class="card-body">
                <h5 class="card-title text-wrap">{{ blog?.title }}</h5>
                <p class="card-text text-wrap">{{ blog?.shortDefinition }}</p>
                <a
                  routerLink="/blog/{{ blogCategory?.url }}/{{ blog?.id }}"
                  class="btn btn-outline-primary"
                  >Detaylar <i class="dx-icon dx-icon-arrowright"></i></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2 mb-2" *ngIf="blogs?.length > 0"></div>
  </div>
  <div class="col-md-3">
    <ul class="list-group shadow">
      <li class="list-group-item py-3"><h4>Blog Kategorileri</h4></li>
      <li class="list-group-item" *ngFor="let item of blogCategories">
        <i class="dx-icon dx-icon-chevronright"></i>
        <a
          class="text-decoration-none text-dark"
          routerLink="/blog/{{ item.url }}"
          >{{ item.name }}</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="row mt-2" *ngIf="blogs?.length == 0">
  <div class="col-md-8">
    <div class="alert alert-info">Kayıt bulunamadı.</div>
  </div>
</div>
