<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" style="font-size: 24px;">Chinook</a>
      <button class="navbar-toggler" type="button" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: false }">
        <p-menubar [model]="items" styleClass="pb-0 float-right">
          <ng-template pTemplate="end">

          </ng-template>
        </p-menubar>

        <!-- <dx-menu [dataSource]="items" displayExpr="name" (onItemClick)="menuItemSelect($event)" showFirstSubmenuMode="onHover">
                </dx-menu> -->

      </div>
    </div>
  </nav>
</header>
