<div class="row">
    <div class="col-12 col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Giriş Yap</h5>
            </div>
            <div class="card-body">
                <form class="login-form" (submit)="login($event)">
                    <dx-form [formData]="formData" [disabled]="loading" labelLocation="top">
                        <dxi-item dataField="emailAddress" editorType="dxTextBox" [editorOptions]="{ stylingMode: 'filled', placeholder: 'Email Adres', mode: 'email' }">
                            <dxi-validation-rule type="required" message="Email gereklidir"></dxi-validation-rule>
                            <dxi-validation-rule type="email" message="Email geçersiz"></dxi-validation-rule>
                            <dxo-label text="Email Adres" [visible]="true"></dxo-label>
                        </dxi-item>

                        <dxi-item dataField="password" editorType="dxTextBox" [editorOptions]="{ stylingMode: 'filled', placeholder: 'Şifre', mode: 'password' }">
                            <dxi-validation-rule type="required" message="Şifre gereklidir"></dxi-validation-rule>
                            <dxo-label text="Şifre" [visible]="true"></dxo-label>
                        </dxi-item>

                        <dxi-item itemType="group" [colCount]="2">
                            <dxi-item dataField="rememberMe" editorType="dxCheckBox" [editorOptions]="{ text: 'Beni Hatırla', elementAttr: { class: 'form-text' } }">
                                <dxo-label [visible]="false"></dxo-label>
                            </dxi-item>
                            <dxi-item>
                                <a class="float-right padding-top-5" routerLink="/reset-password">Şifremi Unuttum</a>
                            </dxi-item>
                        </dxi-item>

                        <dxi-item itemType="button">
                            <dxo-button-options width="100%" type="default" [useSubmitBehavior]="true" [template]="'signInTemplate'">
                            </dxo-button-options>
                        </dxi-item>

                        <ng-container *dxTemplate="let item of 'signInTemplate'">
                            <span class="dx-button-text">
                <ng-container *ngIf="loading; else notLoading">
                  <dx-load-indicator width="24px" height="24px" [visible]="true"></dx-load-indicator>
                </ng-container>
                <ng-template #notLoading>Giriş Yap</ng-template>
              </span>
                        </ng-container>
                    </dx-form>
                </form>
            </div>
        </div>
    </div>
</div>
