<div class="row mt-5">
  <div class="col-12 col-md-4 offset-md-4">
    <div class="card shadow">
      <div class="card-header bg-white py-3">
        <h4>Giriş Yap</h4>
      </div>
      <div class="card-body">
        <form class="my-3">
          <div class="mb-4">
            <label class="pb-2">Email Address</label>
            <input class="w-100" pInputText placeholder="Email Address" [(ngModel)]="login.emailAddress">
          </div>
          <div class="mb-4">
            <label class="pb-2">Password</label>
            <input class="w-100" placeholder="Password" pInputText [(ngModel)]="login.password">
          </div>
          <div class="mb-4">
            <!-- <a class="float-start text-decoration-none cursor-pointer" (click)="goTo()">Şifremi Unuttum</a> -->
            <p-button class="float-end ms-2" label="Giriş Yap" type="default" (click)="save($event)"></p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
