@import "primeicons/primeicons.css";

@media (max-width: 768px) {
  .p-paginator .p-paginator-current {
    width: 100% !important;
  }

  .p-paginator-rpp-options {
    margin-top: 10px !important;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.dx-toolbar-before {
  width: 100% !important;
}

.p-button {
  border-radius: 6px !important;
}

.p-password {
  width: 100% !important;
}

h2 {
  font-size: 1.5em !important;
}

h3 {
  font-size: 1.17em !important;
}

.pi {
  line-height: unset !important;
}

.btn-primary {
  background-color: #3B82F6 !important;
  border-color: #3B82F6 !important;
}

dl,
ol,
ul {
  margin-bottom: 0px;
  padding-left: 0px;
}

.p-button {
  font-size: 1rem !important;
  border-radius: 6px !important;
}

.p-menubar {
  border: 0 !important;
}

a {
  text-decoration: none;
}
