<div class="row mb-2">
  <div class="col-12">
    <p-card header="Profile">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">

            <div class="mb-3">
              <label class="form-label">Email Address</label>
              <input pInputText class="w-100" formControlName="emailAddress">
            </div>
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input pInputText class="w-100" formControlName="firstName">
            </div>
            <div class="mb-3">
              <label class="form-label">Surname</label>
              <input pInputText class="w-100" formControlName="lastName">
            </div>
            <div class="mb-3">
              <label class="form-label">Birth Date</label>
              <p-calendar formControlName="birthDate" styleClass="w-100" dateFormat="dd.mm.yy"
                dataType="string"></p-calendar>
            </div>
            <div class="mb-3">
              <label class="form-label">Title</label>
              <p-dropdown styleClass="w-100" formControlName="titleId" [options]="titles" optionLabel="name"
                optionValue="id"></p-dropdown>
            </div>
            <div class="mb-3">
              <label class="form-label">Hire Date</label>
              <p-calendar formControlName="hireDate" styleClass="w-100" dateFormat="dd.mm.yy"></p-calendar>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label class="form-label">Phone</label>
              <input pInputText class="w-100" formControlName="phone">
            </div>
            <div class="mb-3">
              <label class="form-label">Province</label>
              <p-dropdown styleClass="w-100" formControlName="provinceId" [filter]="true" [options]="provinces" optionLabel="name"
                optionValue="id" [showClear]="true" placeholder="Select a province"
                (onChange)="selectProvince($event)"></p-dropdown>
            </div>
            <div class="mb-3">
              <label class="form-label">City</label>
              <p-dropdown styleClass="w-100" formControlName="cityId" [filter]="true" [options]="cities" optionLabel="name"
                optionValue="id" [showClear]="true" placeholder="Select a city"></p-dropdown>
            </div>
            <div class="mb-3">
              <label class="form-label">Address</label>
              <textarea pInputTextarea class="w-100" formControlName="address"></textarea>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <p-button size="small" label="Save" (click)="save($event)"></p-button>
        </div>
      </form>
    </p-card>
  </div>
</div>