<div class="row mb-2">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="py-2">Şifre Değiştir</h5>
      </div>
      <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <dx-validation-group>
                <div class="mb-3">
                  <label class="form-label">Mevcut Şifre</label>
                  <dx-text-box mode="password" [(value)]="changePassword.oldPassword">
                    <dx-validator>
                      <dxi-validation-rule
                        type="required"
                        message="Şifrenizi giriniz."
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-text-box>
                </div>
                <div class="mb-3">
                  <label class="form-label">Yeni Şifre</label>
                  <dx-text-box mode="password" [(value)]="changePassword.newPassword">
                    <dx-validator>
                      <dxi-validation-rule
                        type="required"
                        message="Yeni şifrenizi giriniz."
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-text-box>
                </div>
                <div class="mb-3">
                  <label class="form-label">Yeni Şifre Tekrar</label>
                  <dx-text-box mode="password" [(value)]="changePassword.reNewPassword">
                    <dx-validator>
                      <dxi-validation-rule
                        type="required"
                        message="Yeni şifrenizi tekrar giriniz."
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-text-box>
                </div>
                <div class="mb-3">
                  <dx-button
                    class="float-start"
                    [useSubmitBehavior]="true"
                    text="Kaydet"
                    type="default"
                    (onClick)="save($event)"
                  ></dx-button>
                </div>
              </dx-validation-group>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
