<div class="row mb-2">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header bg-white py-3">
        <h5>Şifre Değiştir</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <dx-validation-group>
              <div class="mb-3">
                <label class="form-label">Mevcut Şifre</label>
                <dx-text-box
                  mode="password"
                  [(value)]="changePassword.oldPassword"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      message="Şifrenizi giriniz."
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
              <div class="mb-3">
                <label class="form-label">Yeni Şifre</label>
                <dx-text-box
                  mode="password"
                  [(value)]="changePassword.newPassword"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      message="Yeni şifrenizi giriniz."
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
              <div class="mb-3">
                <label class="form-label">Yeni Şifre Tekrar</label>
                <dx-text-box
                  mode="password"
                  [(value)]="changePassword.reNewPassword"
                >
                  <dx-validator>
                    <dxi-validation-rule
                      type="required"
                      message="Yeni şifrenizi tekrar giriniz."
                    ></dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
              </div>
            </dx-validation-group>
          </div>
        </div>
      </div>
      <div class="card-footer bg-white py-3">
        <dx-button
          width="120"
          class="float-start"
          [useSubmitBehavior]="true"
          text="Kaydet"
          type="default"
          (onClick)="save($event)"
        ></dx-button>
      </div>
    </div>
  </div>
</div>
