<div class="row mb-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Şifre Değiştir</h5>
            </div>
            <div class="card-body">
                <form class="login-form" (submit)="save($event)">
                    <div class="row">
                        <div class="col-md-6">
                            <dx-form [formData]="formData" labelLocation="top">
                                <dxi-item dataField="oldPassword" editorType="dxTextBox" [editorOptions]="{ stylingMode: 'filled', placeholder: 'Şifre', mode: 'password' }">
                                    <dxi-validation-rule type="required" message="Eski Şifre gereklidir"></dxi-validation-rule>
                                    <dxo-label text="Eski Şifre" [visible]="true"></dxo-label>
                                </dxi-item>
                                <dxi-item dataField="newPassword" editorType="dxTextBox" [editorOptions]="{ stylingMode: 'filled', placeholder: 'Yeni Şifre', mode: 'password' }">
                                    <dxi-validation-rule type="required" message="Yeni Şifre gereklidir"></dxi-validation-rule>
                                    <dxo-label text="Yeni Şifre" [visible]="true"></dxo-label>
                                </dxi-item>
                                <dxi-item dataField="reNewPassword" editorType="dxTextBox" [editorOptions]="{ stylingMode: 'filled', placeholder: 'Yeni Şifre Yeniden', mode: 'password' }">
                                    <dxi-validation-rule type="required" message="Yeni şifre tekrar gereklidir"></dxi-validation-rule>
                                    <dxo-label text="Yeni Şifre Yeniden" [visible]="true"></dxo-label>
                                </dxi-item>
                                <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="{ text:'Kaydet', type:'success', useSubmitBehavior: true}">
                                </dxi-item>
                            </dx-form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>