<nav class="navbar navbar-light bg-light p-1 border-bottom">
  <div class="navbar-brand">
    <a class="btn btn-primary" (click)="menuShow()">
      <i class="pi pi-bars"></i>
    </a>
    <a class="navbar-brand text-left pl-2" routerLink="/admin">Admin Panel</a>
  </div>
  <div class="navbar-text">
    <p-menu #menu [model]="userMenu" [popup]="true"></p-menu>
    <button type="button" class="btn btn-light text-dark w-100" (click)="menu.toggle($event)">
      <i class="mr-2 pi pi-user">
      </i> {{fullName}} <i class="ml-2 pi pi-chevron-down"></i>
    </button>
  </div>
</nav>
<div class="container-fluid h-100">
  <div class="row">
    <div *ngIf="isShowMenu" class="col-12 col-sm-3 col-md-2 d-md-block "
      [ngStyle]="{ height: screen?.availHeight + 'px' }">
      <div class="card mt-3">
        <div class="card-body">
          <p-tree [value]="items" class="w-100">
            <ng-template let-node pTemplate="default">
              <div style="font-size: 14px;" *ngIf="node.url == null">{{node.name}}</div>
              <a style="font-size: 14px;" *ngIf="node.url != null" [routerLink]="node.url"
                class="text-dark text-decoration-none" (click)="menuShow()">
                {{node.name}}</a>
            </ng-template>
          </p-tree>
        </div>
      </div>
    </div>
    <div class="mt-3" [hidden]="!isShowContent" [ngClass]="{ 'col-12 col-md-10': isShowMenu, 'col-12': !isShowMenu }">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
