<div class="row">
    <div class="col-md-3">
        <div class="row mt-2 mb-2">
            <div class="col-8">
                <h5>Kategoriler({{ countCategory }})</h5>
            </div>
            <div class="col-4">
                <dx-button icon="plus" type="success" class="float-end" (click)="addCategory()">
                </dx-button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <dx-data-grid [dataSource]="categories" [showBorders]="true" [showColumnHeaders]="true" [showColumnLines]="true" [showRowLines]="true" keyExpr="id" [focusedRowEnabled]="true" [(focusedRowKey)]="noteCategoryId" (onFocusedRowChanged)="onSelectRowNoteCategory($event)">
                    <dxi-column dataField="id" [width]="60" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate" caption=""></dxi-column>
                    <dxi-column caption="Adı" dataField="name"></dxi-column>
                    <div *dxTemplate="let data of 'cellTemplate'">
                        <dx-drop-down-button (onSelectionChanged)="onSelectNoteCategory($event,data)" stylingMode="text" [items]="noteCategorySettings" icon="preferences" displayExpr="text" keyExpr="value" [dropDownOptions]="{ width: '100px' }"></dx-drop-down-button>
                    </div>
                    <dxo-paging [pageSize]="5" [enabled]="true"></dxo-paging>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                </dx-data-grid>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div *ngIf="noteCategoryId">
            <div class="row mt-2 mb-2">
                <div class="col-8">
                    <h5>Notlar({{ countNote }})</h5>
                </div>
                <div class="col-4">
                    <dx-button type="success" *ngIf="noteCategoryId" icon="plus" class="float-end" (click)="addNote()">
                    </dx-button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <dx-data-grid [(dataSource)]="notes" [showBorders]="true" [showColumnHeaders]="true" [showColumnLines]="true" [showRowLines]="true" keyExpr="id" [focusedRowEnabled]="true" [(focusedRowKey)]="noteId" (onFocusedRowChanged)="onSelectRowNote($event)">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-paging [enabled]="true" pageSize="5"></dxo-paging>

                        <dxi-column dataField="id" [width]="60" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate" caption=""></dxi-column>
                        <dxi-column caption="Adı" dataField="title"></dxi-column>
                        <div *dxTemplate="let data of 'cellTemplate'">
                            <dx-drop-down-button (onSelectionChanged)="onSelectNote($event,data)" stylingMode="text" [items]="noteSettings" icon="preferences" displayExpr="text" keyExpr="value" [dropDownOptions]="{ width: '100px' }"></dx-drop-down-button>
                        </div>
                    </dx-data-grid>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div [hidden]="!visibleNoteDetail">
            <dx-validation-group>
                <div class="row mt-2 mb-2">
                    <div class="col-4">
                        <h5>{{ noteHeader }}</h5>
                    </div>
                    <div class="col-8">
                        <dx-button type="default" icon="save" [useSubmitBehavior]="true" class="float-end ms-2" (onClick)="saveNote($event)"></dx-button>
                        <dx-button type="danger" icon="clearformat" class="float-end" (click)="noteClear()">
                        </dx-button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label">Başlık</label>
                            <dx-text-box [(value)]="note.title">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Başlık alanı zorunludur."></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Açıklama</label>
                            <dx-html-editor [(value)]="note.description" [height]="400">
                              <dxo-toolbar [multiline]="true">
                                <dxi-item name="undo"></dxi-item>
                                <dxi-item name="redo"></dxi-item>
                                <dxi-item name="separator"></dxi-item>
                                <dxi-item
                                  name="size"
                                  [acceptedValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
                                ></dxi-item>
                                <dxi-item
                                  name="font"
                                  [acceptedValues]="[
                                    'Arial',
                                    'Courier New',
                                    'Georgia',
                                    'Impact',
                                    'Lucida Console',
                                    'Tahoma',
                                    'Times New Roman',
                                    'Verdana'
                                  ]"
                                ></dxi-item>
                                <dxi-item name="separator"></dxi-item>
                                <dxi-item name="bold"></dxi-item>
                                <dxi-item name="italic"></dxi-item>
                                <dxi-item name="strike"></dxi-item>
                                <dxi-item name="underline"></dxi-item>
                                <dxi-item name="separator"></dxi-item>
                                <dxi-item name="alignLeft"></dxi-item>
                                <dxi-item name="alignCenter"></dxi-item>
                                <dxi-item name="alignRight"></dxi-item>
                                <dxi-item name="alignJustify"></dxi-item>
                                <dxi-item name="separator"></dxi-item>
                                <dxi-item name="orderedList"></dxi-item>
                                <dxi-item name="bulletList"></dxi-item>
                                <dxi-item name="separator"></dxi-item>
                                <dxi-item
                                  name="header"
                                  [acceptedValues]="[false, 1, 2, 3, 4, 5]"
                                ></dxi-item>
                                <dxi-item name="separator"></dxi-item>
                                <dxi-item name="color"></dxi-item>
                                <dxi-item name="background"></dxi-item>
                                <dxi-item name="separator"></dxi-item>
                                <dxi-item name="link"></dxi-item>
                                <dxi-item name="image"></dxi-item>
                                <dxi-item name="separator"></dxi-item>
                                <dxi-item name="clear"></dxi-item>
                                <dxi-item name="codeBlock"></dxi-item>
                                <dxi-item name="blockquote"></dxi-item>
                                <dxi-item name="separator"></dxi-item>
                                <dxi-item name="insertTable"></dxi-item>
                                <dxi-item name="deleteTable"></dxi-item>
                                <dxi-item name="insertRowAbove"></dxi-item>
                                <dxi-item name="insertRowBelow"></dxi-item>
                                <dxi-item name="deleteRow"></dxi-item>
                                <dxi-item name="insertColumnLeft"></dxi-item>
                                <dxi-item name="insertColumnRight"></dxi-item>
                                <dxi-item name="deleteColumn"></dxi-item>
                              </dxo-toolbar>
                              <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
                            </dx-html-editor>
                        </div>
                    </div>
                </div>
            </dx-validation-group>
        </div>
    </div>
</div>

<dx-popup [(visible)]="isCategoryVisible" [(width)]="screenWidth" [(title)]="titleCategory" height="auto">
    <div class="row">
        <div class="col-12">
            <dx-validation-group>
                <div class="mb-3">
                    <label class="form-label">Kategori Adı</label>
                    <dx-text-box [(value)]="noteCategory.name">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Kategori Adı giriniz."></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>
                <div class="mb-3">
                    <dx-button class="float-end ms-2" [useSubmitBehavior]="true" text="Kaydet" type="default" (onClick)="saveCategory($event)"></dx-button>
                    <dx-button class="float-end" (onClick)="isCategoryVisible=false" text="Kapat"></dx-button>
                </div>
            </dx-validation-group>
        </div>
    </div>
</dx-popup>

<dx-popup [(visible)]="isMoveNoteVisible" [(width)]="screenWidth" title="Not Taşı" height="auto">
    <div class="row">
        <div class="col-12">
            <dx-validation-group>
                <div class="mb-3">
                    <label class="form-label">Kategori</label>
                    <dx-select-box [(value)]="selectMoveNoteId" displayExpr="name" valueExpr="id" [dataSource]="categories" searchMode="contains" searchExpr="name" [searchEnabled]="true" placeholder="Kategori seçiniz.">
                        <dx-validator>
                            <dxi-validation-rule type="required" message="Kategori seçiniz"></dxi-validation-rule>
                        </dx-validator>
                    </dx-select-box>
                </div>
                <div class="mb-3">
                    <dx-button class="float-end ms-2" [useSubmitBehavior]="true" text="Taşı" type="default" (onClick)="onMoveNote($event)"></dx-button>
                    <dx-button class="float-end" (onClick)="isMoveNoteVisible=false" text="Kapat"></dx-button>
                </div>
            </dx-validation-group>
        </div>
    </div>
</dx-popup>
