<div class="row" style="margin-bottom: 15px;">
    <div class="col-md-12">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="font-bold">
                    <h3>Notes</h3>
                </div>
            </ng-template>
            <ng-template pTemplate="icons">
                <button class="p-panel-header-icon p-link mr-2" (click)="reset()">
                    <span class="pi pi-delete-left"></span>
                </button>
                <button class="p-panel-header-icon p-link mr-2" (click)="search()">
                    <span class="pi pi-search"></span>
                </button>
                <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">
                    <span class="pi pi-ellipsis-v"></span>
                </button>
                <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" />
            </ng-template>
            <div class="m-0">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <p-multiSelect styleClass="w-100" [options]="noteCategories" optionLabel="name"
                                optionValue="id" placeholder="Select categories" [showClear]="true"
                                [(ngModel)]="filterForm.noteCategoryIds"></p-multiSelect>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="w-100" pInputText placeholder="Title" [(ngModel)]="filterForm.title">
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p-table [value]="notes" [lazy]="true" styleClass="p-datatable-gridlines"
            [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [first]="first" [rows]="rows" [loading]="loading"
            [scrollable]="true" (onPage)="pageChange($event)" [rowsPerPageOptions]="[5, 10, 25, 50]"
            [totalRecords]="totalRecords"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5rem"></th>
                    <th style="width:50px" pFrozenColumn></th>
                    <th>Category Name <a style="cursor: pointer;" class="pl-2" (click)="showNoteCategory()"><i
                                class="pi pi-external-link"></i></a></th>
                    <th>Title</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-note let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="note"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td pFrozenColumn>
                        <p-menu #menu [model]="gridMenuItems" [popup]="true" appendTo="body"></p-menu>
                        <button class="btn btn-primary btn-sm" type="button" (click)="menuToggle(menu, $event, note)">
                            <i class="pi pi-cog"></i>
                        </button>
                    </td>
                    <td>{{ note.noteCategory.name }}</td>
                    <td>{{ note.title }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-note>
                <tr>
                    <td colspan="4">
                        <div class="p-2">
                            <div
                                style="font-size: 16px;font-weight: bold;padding-bottom: 10px; text-decoration: underline;">
                                Description :</div>
                            <div [innerHTML]="note.description"></div>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">No notes found.</td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>

<p-dialog [header]="title" [(visible)]="isVisibleNote" [breakpoints]="{ '960px': '90vw' }" [style]="{width: '50vw'}"
    [modal]="true">
    <form [formGroup]="form">
        <div class="form-group">
            <label>Category Name</label>
            <p-dropdown styleClass="w-100" [options]="noteCategories" optionLabel="name" optionValue="id"
                placeholder="Select a category" [showClear]="true" formControlName="noteCategoryId"></p-dropdown>
        </div>
        <div class="form-group">
            <label>Title</label>
            <input class="w-100" pInputText formControlName="title">
        </div>
        <div class="form-group">
            <label>Title</label>
            <p-editor formControlName="description" class="w-100" [style]="{ height: '120px' }"></p-editor>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button size="small" (click)="save()" type="submit" class="float-right" icon="pi pi-save" label="Save"
            pAutoFocus [autofocus]="true"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Note Categories" [(visible)]="isVisibleNoteCategory" [breakpoints]="{ '960px': '90vw' }"
    [style]="{width: '50vw'}" [modal]="true">
    <div class="card mb-3">
        <div class="card-header font-weight-bold">{{noteCategoryHeader}}</div>
        <div class="card-body">
            <form [formGroup]="formNoteCategory">
                <div>
                    <input class="w-100" type="text" pInputText placeholder="Name" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && fNoteCategory['name'].errors }">
                    <div *ngIf="submitted && fNoteCategory['name'].errors" class="invalid-feedback">
                        <div *ngIf="fNoteCategory['name'].errors['required']">Name is required</div>
                    </div>
                    <div class="mt-3">
                        <button type="button" pButton icon="pi pi-save" size="small"
                            (click)="saveNoteCategory()"></button>
                        <button type="button" pButton icon="pi pi-times" size="small"
                            class="bg-danger ml-2 border border-danger"></button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div>
        <p-table [value]="noteCategories" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true" [rows]="5" [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:50px"></th>
                    <th>Name </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-category>
                <tr>
                    <td>
                        <p-menu #menu [model]="gridMenuItems" [popup]="true" appendTo="body"></p-menu>
                        <button class="btn btn-primary btn-sm" type="button"
                            (click)="menuToggle(menu, $event, category)">
                            <i class="pi pi-cog"></i>
                        </button>
                    </td>
                    <td>{{ category.name }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>